.App {
  display: flex;
  height: 100%;
}
.App .layout {
  flex-grow: 1;
}
.authenticate {
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--bg-color);
  height: 100%;
  border-radius: 20px 20px 0 0;
}
