.sr-only {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.input-with-button {
  max-width: 360px;
  position: relative;
}

.pass-input {
  margin: 0px;
  width: 100%;
  outline: none;
  border: solid 1px;
  border-radius: 5px;
  font-size: 1em;
  padding: 8px 6px;
}

.password-visible {
  position: absolute;
  border-radius: var(--border-radius);
  right: 5px;
  border: none;
  bottom: 4px;
  height: 30px;
  cursor: pointer;
  color: black;
  background: transparent;
  display: flex;
  align-items: flex-end;
}

.show-icon, .hide-icon {
  width: 25px;
  filter: contrast(20%);
}

.hide-icon {
  filter: invert(80%) sepia(29%) saturate(4485%) hue-rotate(342deg)
  brightness(94%) contrast(85%);
}

.pass:focus {
  outline:  var(--hover-border);
}
.password-visible:focus {
  outline: none;
}

.ul {
  list-style-type: circle;
  margin-left: 20px;
  font-size: small;
  color: rgba(0, 0, 0, 0.651);
}

.password-hints {
  padding: 20px;
  background-color: rgba(95, 95, 95, 0.26);
  border-radius: var(--border-radius);
}

label:focus-within p {
  color: var(--font-secondary);
}