.auth-form {
  position:relative;
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1em;
  background-color: var(--card-primary);
  border-radius: var(--border-radius);
  border: var(--border-primary-l)
}
.auth-form > h2 {
  color: var(--font-secondary)
}
